# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# Scrapy stuff:
.scrapy/
.cache/
.eggs/
eggs/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
